.correct {

    .img {
        display: flex;
        flex-flow: column wrap;

        .img-fluid {
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
            height: 15rem;
        }
    }

    .btn-primary {

        &:focus,
        &:focus-visible {
            background-color: #047413;
        }
    }
}

a:hover,
a:focus {
    text-decoration: underline;
}